.results_container {
  display: grid;
  grid-template-columns: repeat(3, 110px);
  grid-gap: 10px;
  gap: 10px;
  padding: 0 10px;
  max-height: 282px;
  overflow: scroll;
}

.result_item {
  width: 110px;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  border: 3px solid #51ea2b;
}

.selector_wrap {
  position: relative;
}

.selector_wrap input {
  width: 320px;
  margin-left: 25px;
  background: transparent;
  border: none;
  font-size: 15px;
  line-height: 140%;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 10px;
}

.selector_wrap input::placeholder {
  color: rgba(229, 229, 229, 0.5);
}

.gradient_wrap {
  width: 100%;
  background: linear-gradient(180deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.item_wrap {
  color: rgba(229, 229, 229, 0.5);
  opacity: 0.65;
  transition: opacity 0.2s ease;
  font-size: 12px;
}

.item_wrap a {
  text-decoration: underline;
}

.item_wrap:hover {
  opacity: 1;
}
