.page__container {
  margin: 60px 120px;
  display: flex;
  flex-direction: column;
}

.logo {
  transform: scale(2);
  margin-bottom: 40px;
}

.page_description {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
  color: #434343;
}

.login_btn {
  width: 244px;
  height: 50px;
  background: #fff;
  color: #999;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
  padding: 13px 23px;
  align-items: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.2s ease-out;
  margin: auto;
}

.login_btn:hover {
  box-shadow: 0 0 3px 3px rgba(66, 133, 244, 0.3);
}

.login_btn span {
  background-image: url(../../assets/google-logo.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 23px;
}
