.filter_container {
  width: 761px;
  padding: 0 33px;
  background: #fff;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Cormorant";
  font-style: italic;
}

.filter_item a {
  border-bottom: none;
  font-size: 16px;
  /* transition: font-size 1s ease; */
}

.filter_item a:hover {
  border-bottom: 1px solid #000;
}

.filter_item .activeItem {
  border-bottom: 1px solid #000;
  font-size: 20px;
  cursor: pointer;
}

.header_notlogged {
  font-size: 22px;
}
