.link_item {
  position: relative;
  background-color: #fff;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
  width: 368px;
  height: 290px;
  /* margin: 0 30px 30px 0; */
}

/* .link_item:nth-child(3n + 3) {
  margin-right: 0px;
} */

.link_item:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.link_cover {
  width: 100%;
  height: 194px;
}

.link_cover img,
.randomcover {
  width: 100%;
  height: 194px;
  object-fit: cover;
}

.link_content {
  margin: 10px 5px 13px 15px;
  transition: 0.3s transform ease;
}

.link_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link_description {
  color: #636363;
  font-size: 15px;
  line-height: 150%;
  display: block;
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link_settings {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: opacity 0.2s ease;
  opacity: 0;
}

.link_number {
  position: absolute;
  top: 10px;
  left: 10px;
  transition: opacity 0.2s ease;
  opacity: 0;
  border-radius: 50%;
  background: #fff;
  color: #999;
  text-align: center;
  font-size: 14px;
  width: 30px;
  height: 30px;
  line-height: 32px;
}

.controls {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  opacity: 1 !important;
}
