.container {
  padding: 30px 20px 30px 25px;
  height: 191px;
  position: relative;
}

.cross {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/close_48px.svg);
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
}

.cross:hover {
  opacity: 0.75;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 15px;
}

.description {
  width: 293px;
  font-size: 15px;
  line-height: 140%;
  color: #636363;
  margin-bottom: 18px;
}

.panel__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.social_network__wrap {
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-between;
}

.textarea {
  width: 300px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #f5f5f5;
  white-space: nowrap;
  text-overflow: ellipsis;
  resize: none;
  font-size: 15px;
  padding: 10px;
  color: #afafaf;
  cursor: copy;
}

.button {
  padding: 0;
  cursor: pointer;
  display: block;
  width: 120px;
  height: 40px;
  border-radius: 0;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
  transition: opacity 0.2s ease-in;
  border: none;
  background: #000;
  color: #fff;
}

.button:hover {
  opacity: 0.75;
}

.link_toggler {
  /* height: 100px; */
  background-image: url(../../assets/icons/link-24px.svg);
}
