.board {
  width: 370px;
  height: 520px;
  margin-bottom: 60px;
  position: relative;
}

.board__cover {
  width: 370px;
  height: 370px;
  background-size: cover !important;
  background: no-repeat center center;
  transition: all 0.2s ease-in;
}

.board:hover > a > div.board__cover {
  /* border-radius: 20px; */
  /* opacity: 0.75; */
  filter: brightness(70%);
}

.board__content {
  margin: 20px 0 10px;
  position: relative;
  height: 130px;
}

.board__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 5px;
}

.board__description {
  width: 320px;
  font-size: 15px;
  line-height: 140%;
}

.board__info {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0px;
  justify-content: flex-start;
  color: rgba(99, 99, 99, 0.7);
  font-size: 18px;
  line-height: 19px;
  font-family: "Cormorant";
}

.board__info span {
  margin-right: 10px;
}

.board__label {
  font-style: italic;
  margin-right: 10px;
}

.board .controls {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  opacity: 1 !important;
}
