.selector_wrap {
  border: 1px solid #dedede;
  margin-top: 5px;
  max-height: 102px;
  overflow: scroll;
  position: absolute;
  width: 100%;
  top: 75px;
  z-index: 1;
}

.selector_wrap li {
  padding: 0px 12px;
  color: #333;
  height: 34px;
  font-size: 16px;
  line-height: 34px;
  cursor: pointer;
}

.selector_wrap li:hover {
  color: #fff;
  background-color: #333;
}

.non_active {
  background-color: rgb(255, 255, 255);
}

.active {
  background-color: #fff157;
}
