.control_item {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding: 0 7px;
  font-family: Cormorant;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  margin-right: 10px;
}

.control_item:last-child {
  margin-right: 0px;
}

.active {
  background: #51ea2b;
}

.control_item:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}
