.container {
  padding: 30px 20px 30px 25px;
  /* height: 191px; */
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 40px;
}

.buttons {
  margin: auto;
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}

.buttons * {
  padding: 0;
  width: 50%;
  cursor: pointer;
  display: block;
  height: 40px;
  border-radius: 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  transition: opacity 0.2s ease-in;
  border: none;
  background: transparent;
  color: #000;
}

.buttons > input[type="submit"] {
  background: #000;
  color: #fff;
}

.buttons *:hover {
  opacity: 0.75;
}
