.menubar_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 60px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
  /* transition: transform 0.3 ease-in; */
  align-items: center;
}

.logo img {
  vertical-align: middle;
}

.menubar_right {
  display: flex;
  align-items: center;
}

.menubar_right .toggler_action,
.menubar_avatar {
  transition: opacity 0.2s ease-in;
  cursor: pointer;
}

.menubar_right .toggler_action:hover,
.menubar_avatar:hover {
  opacity: 0.5;
}

.menubar_avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-left: 30px;
}

.menubar_user__wrap {
  position: relative;
}

.nav-up {
  transform: translateY(-100%);
}

/* .no_image {
  width: 30px;
  height: 30px;
  background-image: url(./logo192.png);
  background-size: cover;
} */
