@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital@1&display=swap");

* {
  box-sizing: border-box;
}

*:focus {
  outline-style: none;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
  color: inherit !important;
}

body {
  color: #000;
  font-family: "Inter", sans-serif;
  padding-top: 100px;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* ::selection {
  background: #d8d8d8; 
}
::-moz-selection {
  background: #ffb7b7; 
} 
*/
