.board__header {
  position: relative;
}

.arrow {
  position: absolute;
  left: -90px;
  top: 22px;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.arrow:hover {
  opacity: 0.3;
}

.board__content {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 107px;
  width: 1170px;
  margin-bottom: 30px;
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.board__title {
  height: 60px;
  line-height: 60px;
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 0.2px;
  margin-right: 20px;
  text-transform: capitalize;
}

.board__description {
  font-size: 15px;
  line-height: 140%;
  color: #636363;
  position: absolute;
  left: 0;
  top: 65px;
}

.board__info {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  color: rgba(99, 99, 99, 0.7);
  font-size: 18px;
  line-height: 60px;
  font-family: "Cormorant";
}

.board__info span {
  margin-right: 20px;
}

.board__label {
  font-style: italic;
  margin-right: 20px;
}

.controls {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  opacity: 1;
}
