.menu_dropdown__container {
  border-radius: 4px;
  overflow: visible;
  position: absolute;
  width: 240px;
  top: 55px;
  right: -25px;
  z-index: 100;
  transition: all 0.3s ease;
  box-shadow: 8px 8px 20px 10px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  background-color: #fff;
}

.menu_dropdown__container:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -8px;
  left: calc(50% + 70px);
  transform: rotate(45deg);
  background-color: #fff;
  box-shadow: -3px -3px 5px -3px rgba(0, 0, 0, 0.05);
  z-index: -2;
}

.menu_dropdown__username {
  display: block;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  overflow: hidden;
  padding: 0 32px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 35px;
}

.menu_dropdown__list li {
  padding: 0px 12px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  transition: background-color 0.1s ease;
}

.menu_dropdown__list li:hover {
  background-color: #fff157;
}

.menu_dropdown__list li:last-child {
  border-radius: 0 0 5px 5px;
}
