.board_form__container {
  width: 370px;
  height: 520px;
  background: #191919;
  margin-right: 30px;
  position: relative;
}

.board__cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 370px;
  height: 370px;
  background-size: cover;
  background: no-repeat center center;
  transition: all 0.2s ease-in;
}

.board__content {
  width: 320px;
  padding: 30px 25px;
  height: 130px;
  color: rgba(255, 255, 255, 0.87);
  z-index: 3;
}

.board__title {
  background: transparent;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  padding: 0;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.87);
}

.board__description {
  background: transparent;
  border: none;
  width: 320px;
  font-size: 15px;
  line-height: 140%;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
}

.board_form__container input::placeholder {
  color: rgba(136, 115, 115, 0.5);
}

.board__buttons {
  display: flex;
  align-items: baseline;
  width: 320px;
  height: 40px;
  justify-content: space-between;
  position: absolute;
  bottom: 25px;
  left: 25px;
  margin-top: 40px;
}

.board__buttons * {
  padding: 0;
  cursor: pointer;
  display: block;
  width: 160px;
  height: 40px;
  border-radius: 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  transition: opacity 0.2s ease-in;
  border: none;
  background: transparent;
  color: #fff;
}

.board__buttons > input[type="submit"] {
  background: #fff;
  color: #000;
}

.board__buttons *:hover {
  opacity: 0.75;
}
