.form {
  margin: 60px 120px;
}

.popup_header {
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 40px;
}

.form_field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_field:nth-of-type(2) {
  position: relative;
}

.form_field label {
  font-size: 15px;
  line-height: 15px;
  color: #636363;
  margin-bottom: 10px;
}

.form_input {
  background: #ffffff;
  border: 1px solid #dedede;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.form_field textarea {
  height: 80px;
  resize: none;
}

.arrow {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/icons/arrow-left.svg);
  background-size: cover;
  transition: transform 0.3 ease;
}

.arrow.arrow_clicked {
  transform: rotate(-90deg);
}

.form_input#board {
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.form_input span {
  display: inline-block;
}

.link_preview {
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
}

.link_preview:hover {
  transform: scale(0.95);
}

.link_preview > div {
  pointer-events: none;
  margin: auto;
}

.board__buttons {
  display: flex;
  align-items: baseline;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  margin-top: 40px;
}

.board__buttons * {
  padding: 0;
  cursor: pointer;
  display: block;
  width: 50%;
  height: 40px;
  border-radius: 0;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  transition: opacity 0.2s ease-in;
  border: none;
  background: transparent;
  color: #000;
}

.board__buttons > input[type="submit"] {
  background: #000;
  color: #fff;
}

.board__buttons *:hover {
  opacity: 0.75;
}
